* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

html {
    height: 100vh;
    background: linear-gradient(to bottom, #003366, #6699CC);
}

img{
    width: 30%;
    padding: 1%;
}

body {
    overflow-y: hidden;
    width: 100%;
}

#pergunta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 70%;
    background-color: #C0C0C0;
    border-radius: 20px;
}

#adm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 70%;
    background-color: #C0C0C0;
    border-radius: 20px;
}

#func {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 70%;
    background-color: #C0C0C0;
    border-radius: 20px;
}

.section-login {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundoBranco {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 50%;
    background-color: #C0C0C0;
    border-radius: 20px;
}

.sessao-cadastro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:999px){
    .fundoBranco{
        width: 90%;
        display: flex;
    }

    img{
        width: 30%;
    }

    .sessao-cadastro{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

#logo {
    margin: 4%;
    background-color: #C0C0C0;
    width: 25%;
}



.Form {
    background-color: #C0C0C0;
    width: 70%;
    height: 100%;
    margin: auto;
}

input {
    background-color: #C0C0C0;
    border-bottom-color: #003366;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: larger;
    margin: 2%;
    width: 100%;
    color: #003366;
}

input:focus,
textarea:focus,
select:focus {
    background-color: #f0f0f000;
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para remover as setas no Firefox */
/* input[type="number"] {
    -moz-appearance: textfield;
} */

/* Para remover as setas no Microsoft Edge  */
input[type="number"]::-ms-inner-spin-button,
input[type="number"]::-ms-outer-spin-button {
    appearance: none;
    margin: 0;
}

p {
    margin: 2%;
    background-color: #C0C0C0;
    color: #003366;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

a {
    background-color: #C0C0C0;
    color: #003366;
    font-size: 1.5vw;
}

.titulo{
    margin: 2%;
    background-color: #C0C0C0;
    color: #003366;
    font-weight: bold;
}

#tituloRedefinir{
    margin: 2%;
    background-color: #C0C0C0;
    color: #003366;
    font-size: 1.75vw;
    font-weight: bold;
}

input::placeholder{
    font-size: 1.5vw;
}

.botoes {
    margin: 2%;
    background-color: #C0C0C0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.Form .botoes {
    margin: 2%;
    background-color: #C0C0C0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btn-cancelar {
    background-color: #6699CC;
    border-style: solid;
    border-color: #003366;
    border-radius: 5px;
    font-weight: 600;
    color: rgb(209, 3, 3);
    padding: 2%;
    margin-bottom: 5%;
}

.btn{
    background-color: #6699CC;
    border-style: solid;
    border-color: #003366;
    color: #003366;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 5%;
}