*{
    margin: 0;
    padding: 0;
}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.nav-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #003366;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    flex-direction: column;
}
img {
    max-width: 100%;
    width: 300px;  
  }
main{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    width: 100%; 
    height: 100%; 
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10dvh;
    align-items: center;
}
.nav-list-btn{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15dvh;
    font-weight: bold;
    align-items: center;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

ul{
    display: flex;
    justify-content: space-around;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}

@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vh;
        height: 92vh;
        background-color: #003366;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: ease 0.3s;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.TelaDoInicio{
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/TelaDoInicio.svg);
    height: 100vh;
    width: 100%;
}


@media screen and (max-width: 1370px) {
      
    .TelaDoInicio{
      height: 50vh;
      width: 100%;
  }
  @media screen and (max-width: 500px) {
    
    .TelaDoInicio{
      height: 30vh;
      width: 100%;
  }
  }
}

@media screen and (max-width: 480px) {
    
  .TelaDoInicio{
    height: 50vh;
    width: 100%;
} 
}
  @media screen and (max-width: 450px) {
    
    .TelaDoInicio{
      height: 30vh;
      width: 100%;
  }

}


@media screen and (max-width: 270px) {
    
.TelaDoInicio{
  height: 10vh;
  width: 100%;
}

}
