* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #040F0F;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group{
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3d3b3b;

}


.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.save {
    background-color: #28a745;
    color: white;
}

.delete {
    background-color: #040F0F;
    color: white;
}