@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", system-ui;
}

body{
    background-color: #040F0F;
    color: #f0f0f0;
}

.mae{
    display: flex;
    width: 100%;
    height: 695px;
}

.espacohamburger{
    width: 15%;
    height: 100%;
}

.mae_container{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container {
    background-color: white;
    color: black;
    padding: 10px;
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.espacotitulo{
    width: 55%;
    height: 50px;
    display: flex;
    align-items: end;
    justify-content: end;
}

h1 {
    font-size: 25px;
}

.espaco_formu{
    width: 60%;
    display: flex;
    justify-content: end;
    height: 500px;
}
.espaco_inputs{
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

input {
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    background-color: #D6D6D6;
    border: 2px solid #000000;
}

.save {
    background-color: #248232;
    color: #FCFFFC;
    width: 40%;
}
.save:hover{
    background-color: #1c6527;
}

.buttons {
    display: flex;
    width: 100%;
    height: 180px;
    justify-content: end;
    align-items: end;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.delete {
    background-color: #040F0F;
    color: white;
    height: 40px;
}
.delete:hover{
    background-color: #2D3A3A;
}