@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    font-family: "Nunito Sans", system-ui;
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #FCFFFC;
}
.mae{
    display: flex;
    width: 100%;
    height: 695px;
    align-items: center;
}
.lateral{
    width: 5%;
    height: 100%;
}
.quadros{
    width: 90%;
    height: 620px;
    display: flex;
    gap: 30px;
}
.div1{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.filtro {
    width: 100%;
    height: 15%;
    background-color: #FCFFFC;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.escolha {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 80%;
    gap: 1px;
}

.textodata {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.textodata p {
    font-size: 20px;
    font-weight: 700;
}

.textodata select {
    width: 20%;
}

.aviso {
    font-size: 10px;
}
.select_filtro{
    width: 20%;
    display: flex;
    justify-content: center;
}
.select_filtro select{
    width: 80%;
    height: 25px;
    background-color: #040F0F;
    border: #248232 solid 2px;
    border-radius: 4px;
    color: #FCFFFC;
}
.btn_filtro{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}
.btn_filtro button{
    padding: 10px 20px;
    background-color: #248232;
    color: #FCFFFC;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}
.btn_filtro button:hover{
    background-color: #195d23;
}
.alertas{
    width: 100%;
    height: 85%;
    background-color: #FCFFFC;
    padding: 5px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tituloalert{
    width: 100%;
    height: 60px;
    font-weight: 600;
    font-size: 20px;
}
.subalert{
    font-size: 10px;
}
.espacoalertas{
    width: 95%;
    height: 530px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
}
.espacoalertas::-webkit-scrollbar {
  width: 5px;
}
.espacoalertas::-webkit-scrollbar-track {
  background: #FCFFFC;
}
.espacoalertas::-webkit-scrollbar-thumb {
  background-color: #040F0F;
}
.alerta{
    width: 100%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    cursor: pointer;
}
.alerta:hover{
    border: #040F0F solid 3px;
}
.tituloalerta{
    color: #FCFFFC;
    font-size: 17px;
    font-weight: 600;
}
.descalerta{
    color: #FCFFFC;
    font-size: 12px;
    text-align: inherit;
}

.div2{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dispersao{
    width: 100%;
    height: 210px;
    gap: 10px;
    background-color: #FCFFFC;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.titulodispersao{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulodispersao .titu{
    font-size: 20px;
    font-weight: 600;
}
.titulodispersao .sub{
    font-size: 10px;
}
.espaco{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 350px;
}
.grafico1dispersao{
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.espacografico1{
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.graficodispersao{
    width: 100%;
}
.legendagrafico2{
    font-size: 15px;
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.legendagrafico1{
    font-size: 15px;
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.subleg{
    font-size: 10px;
}
.desempenho{
    width: 100%;
    height: 390px;
    gap: 35px;
    background-color: #FCFFFC;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 10px; 
  z-index: 3;
  display: block;
  transition: left 0.3s ease; 
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background: #000000;
  margin: 5px 0;
  transition: 0.3s;
}


.close-btn {
  background: #040f0f;
  border: none;
  color: #fcfffc;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  display: none;
}

.close-btn .bar {
  display: block;
  width: 25px;
  height: 3px;
  background: #fcfffc;
  margin: 5px 0;
  transition: 0.3s;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: -250px; 
  height: 100%;
  width: 250px;
  background: #040f0f;
  padding-top: 10px;
  box-sizing: border-box;
  transition: left 0.3s ease;
  z-index: 4;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.nav-menu.show {
  left: 0;
}

.nav-menu.show ~ .hamburger {
  left: 270px; 
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.nav-menu a {
  display: block;
  color: #fcfffc;
  padding: 15px;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
  font-size: 18px;
  margin-bottom: 10px; 
  text-align: center; 
}

.nav-menu a:hover {
  background-color: #2D3A3A; 
  color: #fcfffc;
  transition: background-color 0.8s ease; 
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown toggle (botão ou link que ativa o menu) */
.dropdown-toggle {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: inline-block;
  font-size: 16px;
}

/* Dropdown menu */
.dropdown-menu {
  background-color: #111;

  display: none; /* Oculto inicialmente */
  position: absolute;

  top: 1px; /* Abaixo do botão */
  left: 180px; /* Alinhado à esquerda do botão */
  
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 999;
  min-width: 150px;
}

/* Itens do menu */
.dropdown-menu a {
  color: white;
  text-decoration: none;
  padding: 8px 10px;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #444;
}

/* Exibe o menu ao passar o mouse no botão */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Botão ativo no hover */
.dropdown-toggle:hover {
  background-color: #248232;
  color: white;
}

.logo {
  width: 180px; 
  margin-top: 30px; 
  margin-bottom: 30px; 
  display: block;
  align-self: center; 
}

.separator {
  width: 100%;
  height: 1px;
  background: #fcfffc;
  margin: 5px auto;
}

.logout {
  position: absolute;
  bottom: 10px;
  width: 88%; 
  text-align: center;
  color: #fcfffc;
  font-size: 18px;
  padding: 10px; 
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.logout:hover {
  background: #f00; 
}