@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    font-family: "Nunito Sans", system-ui;
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #FCFFFC;
}


.geral{
    display: flex;
    width: 100%;
    height: 695px;
    align-items: center;
}
.lateral{
    width: 5%;
    height: 100%;
}
/* NavBar */

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background: #fcfffc;
    margin: 5px 0;
    transition: 0.3s;
}

.nav-menu {
    position: absolute;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    background: #040f0f;
    padding-top: 10px;
    box-sizing: border-box;
    transition: left 0.3s ease;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu.show {
    left: 0;
}

.nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

.nav-menu a {
    display: block;
    color: #fcfffc;
    padding: 15px;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.nav-menu a:hover {
    background-color: #2D3A3A;
    color: #fcfffc;
    transition: background-color 0.8s ease;
}

.close-btn {
    background: #fcfffc;
    border: none;
    color: #040f0f;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: -50px;
    z-index: 5;
    transition: right 0.3s ease;
}
.close-btn .bar {
    display: block;
    width: 25px;
    height: 3px;
    background: #040F0F;
    margin: 5px 0;
    transition: 0.3s;
}

.logo {
    width: 180px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    align-self: center;
}

.separator {
    width: 100%;
    height: 1px;
    background: #fcfffc;
    margin: 5px auto;
}

.logout {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fcfffc;
    font-size: 18px;
    padding: 15px;
    text-decoration: none;
}

.logout:hover {
    background: #f00;
}

.hamburger.active .bar {
    background-color: #040F0F;
}

/* NavBar */
.quadros{
    width: 100%;
    height: 620px;
    display: flex;
    gap: 30px;

    
}
.div1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}


/* Div Alerta */
.divAlerta{
    width: 100%;
    height: 98%;
    background-color: #FCFFFC;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 70px;
    border-radius: 20px;
}
.titulo{
    width: 100%;
    height: 35px;
    font-size: 30px;
    font-weight: 600;
   
}

.grafico{
    width: 95%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.espacografico{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graficoAlerta{
    width: 100%;
}

/* Div Alerta */

/* Div Alerta Componente */

.div2{
   
    width: 100%;
    height: 98%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.div2 p {
    width: 100%;
    height: 35px;
    font-size: 30px;
    font-weight: 600;
}

.a{

    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row ;
    align-items: flex-start;
    gap: 5px;
}

.dispositivo1{
   
    width: 80%;
    height: 70%;
    background-color: #FCFFFC;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
    
}

.espacograficoDispositivo1{
    width: 90%;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.graficoDispositivo1{
    width: 80%;
    height: 80%;
}
.dispositivo2{
    width: 80%;
    height: 70%;
    background-color: #FCFFFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
   
}

.graficoDispositivo2{
    width: 80%;
    height: 80%;
}


.b{

    width: 100%;
    height: 80%;
    padding: 5px;
    display: flex;
    flex-direction: row ;
    align-items: flex-start;
    gap: 5px; 
}

.dispositivo3{
   
    width: 80%;
    height: 70%;
    background-color: #FCFFFC;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
}
.espacograficoDispositivo3{
    width: 90%;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.graficoDispositivo3{
    width: 80%;
    height: 80%;
}
.dispositivo4{
    width: 80%;
    height: 70%;
    background-color: #FCFFFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    
   
}

.graficoDispositivo4{
    width: 80%;
    height: 80%;
}

/* Div Alerta Componente */

