@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    font-family: "Nunito Sans", system-ui;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F0F0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.nav-menu {
    width: 250px;
    background-color: #040F0F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
}

.logo {
    width: 180px;
    margin: 30px 0;
    margin-right: 14px;
}

.separator {
    width: 110%;
    height: 1px;
    background: #FCFFFC;
    margin-bottom: 20px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 120%;
    position: relative;
}

.nav-links a {
    display: flex;
    align-items: center;
    color: #FCFFFC;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.5s ease;
    margin-left: 20px;
    position: relative;
}

.nav-icon {
    margin-right: 10px;
    margin-left: 10px;
    width: 28px;
    height: 32px;
    object-fit: contain;
}

.logout {
    color: #FCFFFC;
    font-size: 18px;
    padding: 15px;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: 20px;
}

.dashboard-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 2px solid #333;
}

.header h1 {
    font-size: 22px;
    color: #333;
    margin-right: auto;
    margin-left: 40px;
}

.linha-input {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.linha-input input {
    padding: 11px 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    box-sizing: border-box;
}

.linha-input input::placeholder {
    font-size: 15px;
}

.botao-colorido.visualizar {
    padding: 7px 14px;
    background-color: #248232;
    color: #fff;
}

.botao-colorido.visualizar:hover {
    padding: 7px 14px;
    background-color: #1e6c2a;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5px;
}

.name {
    font-size: 18px;
    color: #333;
}

.role {
    font-size: 14px;
    color: #777;
}

.profile-icon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
}

.profile-icon img {
    width: 100%;
    height: 100%;
}

.main-content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start; /* Alinha os itens ao topo */
    padding: 20px;
}


.teste {
    margin-top: 30px;
    width: 97%;
    display: flex;
    justify-content: start;
    margin-left: 20px;
}

.card-botoes {
    background-color: #FFFFFF;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Tamanho do card */
}

.botoes-acao {
    display: flex;
    gap: 30px; /* Espaçamento entre os botões */
}

.grafico-principal,
.grafico-lateral {
    margin-top: 10px;
    background-color: #FFFFFF;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
}

.grafico-principal {
    width: 62%;
    height: 480px;
    
}

.grafico-principal canvas {
    height: 400px;
    width: 100%;
    max-height: 420px; /* Define o limite máximo */
}

.grafico-lateral {
    width: 35%;
    height: 480px;
    margin-top: 10px;
}

.main-content2 {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
}

.grafico-principal2,
.grafico-lateral2 {
    margin-top: 30px;
    background-color: #FFFFFF;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
    height: auto;
}


.grafico-lateral2 canvas {
    height: 450px; /* Ajusta apenas a altura do gráfico */
    width: 100%; /* Mantém a largura do gráfico */
    max-height: 450px;
}

.grafico-principal2 {
    width: 590px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Reduz o padding para ganhar espaço */
}


.botoes-acao2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px; /* Reduz a margem para economizar espaço */
}

.botao-colorido {
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s;
    margin: 0 15px;
}

.hidden {
    display: none;
}

.botao-colorido.vermelho {
    background-color: #FF6347;
}

.botao-colorido.verde {
    background-color: #248232;
}

.botao-colorido.botao-colorido.vermelho:hover {
    transform: scale(1.05);
    background-color: #bf4833;
}

.botao-colorido.botao-colorido.verde:hover {
    transform: scale(1.05);
    background-color: #1e6c2a;
}
.alert-cards {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.alert-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%; /* Aumenta a largura dos cards para torná-los retângulos maiores */
    padding: 20px; /* Aumenta o padding para dar mais espaço interno */
    background-color: #FFFFFF;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
    font-size: 1.5em; /* Aumenta o tamanho do texto para destacar mais */
}

.alert-icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.alert-text {
    font-weight: bold;
    color: #333;
}

.alert-content {
    display: flex;
    gap: 20px;
    margin: 20px;
    height: 50vh; 
}

.alert-graph {
    flex: 1;
    background-color: #FFFFFF;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
    margin-top: 5px;
}
.alert-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 60vh; /* Limita a altura da área onde os cards são exibidos */
    overflow-y: auto; /* Habilita a rolagem vertical quando necessário */
}

.alert-detail-card {
    padding: 15px;
    background-color: #FFFFFF;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
    font-size: 20px;
    color: #333;
    margin-top: 5.6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-height: 150px; /* Define um limite de altura para os cards */
}


.alert-bolinha {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px; /* Espaçamento entre a bolinha e o texto */
    flex-shrink: 0; /* Evita que a bolinha encolha */
}

.alert-detail-card.amarela .alert-bolinha {
    background-color: #ffcc00;
}

.alert-detail-card.vermelha .alert-bolinha {
    background-color: #ff0000;
}

.alert-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}


.resposta-card {
    display: none; 
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 2px solid #333;
    padding: 30px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
    width: 80%;
    height: 80%;
    z-index: 1001;  
    overflow-y: auto; 
    opacity: 1;
    transition: opacity 0.3s ease; 
    margin-left: 10px;
}


.carregando {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #333;
    z-index: 1002;
}


/* Fundo ofuscado */
.fundo-ofuscado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  
    z-index: 1000;  
    display: none;  
    filter: blur(5px);  
    pointer-events: none;  
    transition: filter 0.3s ease; 
}


body.ofuscado .fundo-ofuscado {
    display: block;  
}

.resposta-texto {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.fechar-icone {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px; 
    height: 30px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown toggle (botão ou link que ativa o menu) */
  .dropdown-toggle {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
  }
  
  /* Dropdown menu */
  .dropdown-menu {
    background-color: #111;
  
    display: none; /* Oculto inicialmente */
    position: absolute;
  
    top: 1px; /* Abaixo do botão */
    left: 180px; /* Alinhado à esquerda do botão */
    
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 999;
    min-width: 150px;
  }
  
  /* Itens do menu */
  .dropdown-menu a {
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    display: block;
  }
  
  .dropdown-menu a:hover {
    background-color: #444;
  }
  
  /* Exibe o menu ao passar o mouse no botão */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
