@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body {
  display: flex;
  background-color: #040F0F;
  margin: 0;
  font-family: "Nunito Sans", system-ui;
  height: 100vh;
}

.geral {
  width: 95%;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.formulario {
  height: 600px;
  width: 500px;
  display: flex;  
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.formulario h2 {
  margin: 30px;
  display: flex;
  font-family: 'Nunito Sans';
}

.formulario textarea {
  border: 3px solid #000000;
  background-color: #FCFFFC;
  font-family: 'Nunito Sans';
  height: 32px;
  border-radius: 10px;  
  width: 400px;
  height: 300px;
}

.botao {
  cursor: pointer;    
  border: 0;
  border-radius: 10px;
  background-color: #248232;
  color: #ffffff;
  font-size: 13px;
  width: 130px;
  height: 40px; 
}
.botao:hover{
  background-color: #1c6527;
}

.mensagem {
  font-size: 20px;
  font-family: 'Nunito Sans';
}

.historico {
  height: 570px;
  width: 60%;
  display: flex;  
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.titulohistorico{
  width: 100%;
  height: 50px;
}
.titulohistorico p{
  font-size: 30px;
  margin: 0;
  font-weight: 600;
}
.espacolista{
  width: 95%;
  height: 450px;
  background-color: #2D3A3A;
  border: #2BA84A solid 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.listagerentes {
  width: 100%;
  height: 440px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.listagerentes::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}
.listagerentes::-webkit-scrollbar-thumb {
  background-color: #2c2c2c;
  border-radius: 10px;
}
.cardfeedback {
  width: 95%;
  min-height: 40px;
  background-color: #FCFFFC;
  border: #2BA84A solid 3px;
  border-radius: 10px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.espacodescricao {
  width: 70%;
  word-wrap: break-word;
}
.descricao {
  width: 100%;
  overflow-wrap: break-word;
  white-space: normal;
  margin: 0;
}
.espacoexcluir{
  width: 30%;
  display: flex;
  justify-content: end;
}
.excluir{
  text-decoration: none;
  color: #ff0000;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 30px;
}

.arrow-image {
  width:100%; 
  height: 30px;
}