@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000&display=swap');


.formulario {
    display: flex;  
    width: 90%;
    height: 80%;
    justify-content: space-around;
    flex-direction: column;
}

.formulario h2 {
    display: flex;
    justify-content: center;
}

.label_input{
    display: flex;
    flex-direction: column;
}

.label_input{
    display: flex;
    flex-direction: column;
}

.label_input_senha{
    display: flex;
    justify-content: flex-end;
    height: 40px;
}

.label_input_senha input{
    width: 100%;
}

.ver{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    
}

.img-eye-close{
    display: none;
    background: url(../imagens/eye-off-white.svg)no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.img-eye-open{
    display: flex;
    background: url(../imagens/eye-white.svg)no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.check_senha{
    display: none;
}

.label_ver_senha{
    display: flex;
    width: 80%;
    height: 80%;


    cursor: pointer;
}

.label_ver_senha img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    cursor: pointer;
}