* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #1d3483, #4ca7f1);
    overflow-x: hidden;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------------------------------NAV LIST------------------------------------------------- */
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

span {
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}


.logo {
    display: flex;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.title {
    font-size: 2.5rem;
    color: #181717;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.subtitle{
    font-size: 1rem;
}

.subtitle span{
    font-size: 1.5rem;
    color: #181717;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

nav {
    display: flex;
    padding: 20px 5%;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 70px;
    width: 100%;
    z-index: 3;
    top: 0;
    transition: border-bottom 1s cubic-bezier(0.25, 0.1, 0.21, 0.64) 0.3s;
    ;
    background-color: #151570;
}

nav img {
    width: 120px;
}


.nav-list {
    list-style: none;
    display: flex;

}

.nav-list a:hover {
    border-bottom: #266bd1 solid 1px;
}

.nav-list li {
    letter-spacing: 5px;
    margin-left: 32px;
}

.login-none {
    display: none;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}


.btn-default {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(102, 153, 204, 1);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 3s ease;
    list-style: none;
    letter-spacing: 3px;
    margin-right: 50px;
}

.btn-default:hover {
    background-color: rgb(0, 0, 116);
}

.btn-default span {
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

.btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(102, 153, 204, 1);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 1.5s ease;
    list-style: none;
    letter-spacing: 3px;
    margin-left: 17px;
}

.btn-block:hover {
    background-color: rgb(0, 0, 116);
    color: #fff;
}

.hero {
    background-image: url(/src/images/ImagePageSec.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
}



.hero img {
    width: 60%;
    max-width: 700px;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8dvh;
        right: 0;
        width: 40dvh;
        height: 60dvh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: ease (0.25, 0.1, 0.21, 0.64) 0.5s;
        margin: 12px 0px;
        background-color: #1b1b53;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
        padding-right: 90px;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .btn-default {
        display: none;
    }

    .login-none {
        display: block;
    }

    .image-logo {
        display: none;
    }

    nav img{
        display: none;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* -------------------------------------------------SOBRE NOS ------------------------------------------------- */
@media (max-width: 790px){
    .container-pai{
        max-width: 1450px;
    }

    .hero{
        display: none;
    }
}

.container-pai{
    margin-top: 130px;
    height: 40dvh;
    border-bottom: solid 2px #000;
}

.container-filho{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    text-align: center;
    justify-content: center;
}

.about p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    max-width: 100%;
    margin-bottom: 270px;
}

/* -------------------------------------------------VALORES------------------------------------------------- */
.container-pai-mvv{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.container-filho-mvv{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    flex-direction: row;
    justify-content: space-around;
}

.container-missao,
.container-visao,
.container-valor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
    height: 400px;
    background-color: #b0c4de;
    box-shadow: 0px 0px 15px 8px rgb(0, 0, 0, 0.1);
}


.container-missao i,
.container-visao i,
.container-valor i {
    font-size: 2em;
    margin-bottom: 0.5rem;
}

.container-missao p,
.container-visao p,
.container-valor p {
    font-size: 0.9em;
    line-height: 1.6;
}

/* -------------------------------------------------SERVIÇOS------------------------------------------------- */
@media(max-width: 790px){
    .arrow-left button p{
        display: none;
    }
    .arrow-right button p{
        display: none;
    }
}

.container-pai-servico {
    padding: 20px;
    height: 50vh;
}

.container-tio-servico{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    gap: 10px;
}


.container-filho-servico {
    display: flex;
    align-items: center;
    text-align: center;
    border: solid #000 2px;
    border-radius: 10px;
    width: 50%;
}

.div-monitoramento,
.div-suporte,
.div-implementaçao {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    border-radius: 9px;
    width: 40%;
    height: 60dvh;
    background-color: #b0c4de;

}

.div-monitoramento p,
.div-suporte p,
.div-implementaçao p {
    padding: 0px 30px 0px 30px;
}

.arrow-left button,
.arrow-right button {
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    font-size: 1.15rem;
}

/* -------------------------------------------------EQUIPE------------------------------------------------ */
.container-filho-equipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    width: 100%;
    margin-bottom: 30px;
}

.container-member {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    padding: 10px;
}

.container-member img {
    width: 100%;
    height: 220px;
}

.container-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.container-social a {
    color: #333;
    text-decoration: none;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.container-social i {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 3px;
}

.container-social p {
    font-size: 0.9rem;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* -------------------------------------------------FOOTER------------------------------------------------ */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #151570; 
    position: relative;
    flex-wrap: wrap;
}

.footer-logo,
.footer-button,
.footer-span {
    flex: 1;
    min-width: 100px;
    text-align: center;
}

.footer-logo img {
    max-height: 40px;
}

.footer-button {
    display: flex;
    justify-content: center;
    margin: 0.5rem ; 
}

.btn-block {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 16px;
}

.footer-span {
    margin: 0.5rem 0;
    color: #fff;
}


@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo,
    .footer-button,
    .footer-span {
        flex: none; 
        width: 100%; 
        margin: 0.5rem 0;
    }

    .footer-logo img {
        max-height: 30px; 
    }

    .btn-block {
        padding: 0.4rem 0.8rem;
    }
}

@media (max-width: 480px) {
    .footer-logo img {
        max-height: 25px;
    }

    .btn-block {
        font-size: 14px; 
    }
}
