header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: rgba (0,0,68,1);
    z-index: 3;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo{
    font-size: 28px;
    color: #fff;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a{
    text-decoration: none;
    color: #1d1d1dad;
    font-family: 600;
}

.nav-item.active a{
    color: #1d1d1dad;
    border-bottom: 3px solid rgba(102,153,204,1);
}

#mobile_btn{
    display: none;
}

#mobile_menu{
    display: none;
}

@media(max-width: 999px) {
    #nav_list, 
    #navbar .btn-default{
        display: none;
    }
    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }
    #mobile_nav_list .nav_item{
        list-style: none;
        text-align: center;
    }
}
/* -------------------------------------------------FOOTER------------------------------------------------ */

/* -------------------------------------------------FOOTER------------------------------------------------ */

/* -------------------------------------------------FOOTER------------------------------------------------ */

/* -------------------------------------------------FOOTER------------------------------------------------ */

/* -------------------------------------------------FOOTER------------------------------------------------ */

/* -------------------------------------------------FOOTER------------------------------------------------ */

/* -------------------------------------------------FOOTER------------------------------------------------ */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #151570; 
    position: relative;
    flex-wrap: wrap;
}

.footer-logo,
.footer-button,
.footer-span {
    flex: 1;
    min-width: 100px;
    text-align: center;
}

.footer-logo img {
    max-height: 40px;
}

.footer-button {
    display: flex;
    justify-content: center;
    margin: 0.5rem ; 
}

.btn-block {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 16px;
}

.footer-span {
    margin: 0.5rem 0;
    color: #fff;
}


@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo,
    .footer-button,
    .footer-span {
        flex: none; 
        width: 100%; 
        margin: 0.5rem 0;
    }

    .footer-logo img {
        max-height: 30px; 
    }

    .btn-block {
        padding: 0.4rem 0.8rem;
    }
}

@media (max-width: 480px) {
    .footer-logo img {
        max-height: 25px;
    }

    .btn-block {
        font-size: 14px; 
    }
}
