@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0,0,68);
    background: linear-gradient(to bottom, #151570, 5%, #003366, 70%, #6699CC), 70%;
}

section{
    padding: 28px 8%;   
}

.description{
    font-size: 2.5vw;
    line-height: 1.5;
}

i{
    font-size: 2.5vw;
}

.btn-default{
border: none;
display: flex;
align-items: center;
justify-content: center;
background-color: #6699cc;
border-radius: 12px;
padding: 10px 14px;
font-weight: 600;
box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: background-color 1s ease;
transition: color 1s ease;
border-radius: 10px;
}

.btn-default a{
    text-decoration: none;
    color: #ffffff;
}

.btn-default:hover{
    background-color: #000044;
    color: #fff;
}


.title{
    margin: 0;
    padding: 0.5em 0;
    font-family: 'Arial', sans-serif;
    font-size: 6vw;             
    font-weight: bold;         
    color: #ffffff;             
    text-align: center;         
    text-transform: uppercase; 
}

#subtitle{
    font-size: 3vw;
    font-weight: bold;
    margin-block: 5px;
    margin-left: 10px;
    color: #000044;
}


.icon-member {
    display: inline-flex; 
    gap: 15px;
    align-items: center;
    font-size: 10px;
    color: #ffffff; 
    text-decoration: none; 
    padding: 8px; 
    margin: 2px; 
}

